.navbar {
    background-color: #eadedeba;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
.navwrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: #e90f0f;
    height: 70px;
}
  .navbar-logo a {
    color: #d6190c;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .navbar-menu li a {
    color: #e72424;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
  }
  
  .navbar-menu li a:hover {
    color: #ffd700;
  }
  